<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <!-- in app.component.ts to revise this title -->
  </h1>
  <img width="300" alt="sushi logo" src="https://theultralinx.com/.image/c_limit%2Ccs_srgb%2Cq_80%2Cw_800/MTI5MDI1MjE1MzQ5OTI2NTMx/163.webp">
</div>
<body class="container">
  <h2>{{sushiStory}}</h2>
  <h6>
    Sushi
    2007feb-sushi-odaiba-manytypes.jpg
    Different types of nigiri-sushi and a long, tapered temaki; gari (pickled ginger) is in the upper right; served with soy sauce and chopsticks
    Alternative names	すし, 寿司, 鮨
    Course	appetizer, main dish
    Place of origin	Japan
    Associated national cuisine	Japanese cuisine
    Serving temperature	cold
    Main ingredients	vinegared rice
    Ingredients generally used	seafood, cooked or raw, and vegetables
     Cookbook: Sushi   Media: Sushi
    Sushi (すし, 寿司, 鮨) is a Japanese dish of specially prepared vinegared rice (鮨飯 sushi-meshi), usually with some sugar and salt, combined with a variety of ingredients (ネタ neta), such as seafood (most commonly and often raw), vegetables, and occasionally tropical fruits. Styles of sushi and its presentation vary widely, but the key ingredient is "sushi rice", also referred to as shari (しゃり), or sumeshi (酢飯). The term sushi is no longer used in its original context and literally means "sour-tasting."</h6>
  <p>{{sushiStyle}}</p>
  <ul>
    <li *ngFor="let sushiStyle of styles">{{sushiStyle.description}}/{{sushiStyle.price}}
    <!-- sushiStyle can be anyname we want to replace styles in app.components.ts -->
    <button class="btn btn-light" (click)="placeSushiStyle()">Place your sushi style</button></li>
    <!-- (click)="placeSushiStyle()" is event binding -->
    <!-- click is target event(click,keydown and focus are also target event) -->
    <!-- someMethod() is template statement -->
  </ul>
  <p>{{ingredient}}</p>
  <ul>
    <li [class]="availableEveryday(fishIngredient)" *ngFor="let fishIngredient of ingredients">{{fishIngredient.description}}/{{fishIngredient.price}}
     <button class="btn btn-light" (click)="placeSushiIngredient()">Place your sushi Fish</button></li>
    <!-- <li *ngFor="let fishIngredient of ingredients">{{fishIngredient.description}}/{{fishIngredient.price}}</li> -->
  </ul>

  <p>{{rice}}</p>
  <ul>
    <li *ngFor="let thisRice of rices">{{thisRice.description}}/{{thisRice.price}}
     <button class="btn btn-light" (click)="editRice(thisRice)">Place rice</button></li>
  </ul>
<div *ngIf="selectedRice">
  <h3>{{selectedRice.description}}</h3>
  <p>Rice quality right? {{selectedRice.done}}</p>
  <h3>Edit rice</h3>
  <label class="option1">Enter your price:</label>
  <input [(ngModel)]="selectedRice.price"><br>
  <!-- Combining both [] and () indicates we're using both event binding and property binding. -->
<!-- <label class="option1">Enter your price (1-3):</label>
  <br> -->
  <!-- <input type="radio"  [value]="1"><span class="option1" > 1 Top</span><br>
  <input type="radio"  [value]="2"><span class="option1" > 2 Medium</span><br>
  <input type="radio"  [value]="3"><span class="option1" > 3 Average</span> -->
  <button (click)="finishedEditing()">DONE</button>
</div>
</body>

<!-- <ul>
  <li [class]="priorityColor(currentTask)" *ngFor="let currentTask of tasks">{{currentTask.description}}  <button (click)="editTask()">Edit!</button></li>
</ul>
<ul>
  <li [class]="priorityColor(currentTask)" *ngFor="let currentTask of tasks">{{currentTask.description}} <button (click)="editTask(currentTask)">Edit!</button></li>
</ul> -->
