/* You can add global styles to this file, and also import other style files */
h1 {
  font-weight: bold;
  font-family: monospace;
  color: #A5901A;
}
h2, h6 {
  color: beige;
}
p {
  color: beige;
}
li {
  color: beige;
}
body {
  background-color: #000000;
}
