/* You can add global styles to this file, and also import other style files */
h1 {
  font-weight: bold;
  font-family: monospace;
  color: #A5901A;
}
h2, h6 , label {
  color: beige;
}
.option1 {
   color: beige;
 }
p {
  color: beige;
}
li {
  color: beige;
  margin-top: 10px;
  margin-top: 10px;
}
body {
  background-color: #000000;
}
